/* Oculta el ícono nativo “reveal password” (Edge / IE) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Estilos para el landing page */
/* Safe areas (útil en móviles y en Capacitor con notch) */
.safe-top {
    padding-top: env(safe-area-inset-top);
}

.safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}

/*Layout principal*/
/* Fallback si tu Tailwind no tiene dvh */
.min-h-dvh {
    min-height: 100dvh;
}